torch
torchvision
flask
Pillow
opencv-python
numpy==1.26.4
requests
ipdb
google_images_download
icrawler
pyyaml
face_recognition
tqdm
tensorflow==2.16.1
scikit-learn
pandas
colorlog
keras-facenet
matplotlib
pytest